services:
  gitea:
    container_name: gitea
    image: docker.gitea.com/gitea:1.24.5-rootless
    restart: unless-stopped
    ports:
      - "3000:3000"   # Web
      - "2222:2222"     # SSH Git
    environment:
      - USER_UID=${USER_UID}
      - USER_GID=${USER_GID}
      - TZ=Asia/Taipei
      # --- Database (MSSQL) ---
      - GITEA__database__DB_TYPE=${DB_TYPE}
      - GITEA__database__DB_HOST=${DB_HOST}:${DB_PORT}
      - GITEA__database__DB_NAME=${DB_NAME}
      - GITEA__database__DB_USER=${DB_USER}
      - GITEA__database__DB_PASSWD=${DB_PASSWD}
      # --- Server / URLs ---
      - GITEA__server__ROOT_URL=${ROOT_URL}
      - DOMAIN=${DOMAIN}
      - SSH_DOMAIN=${SSH_DOMAIN}
      - LFS_START_SERVER=true
      - PROXY_FROM_X_FORWARDED_HEADERS=true
      # 初次安裝後請改為 true 再重啟
      - INSTALL_LOCK=false

    volumes:
      - /vol2/1000/ssd/apps/gitea/data:/data
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
